<div class="alert alert-danger" ng-show="alert">
    <button class="close" ng-click="closeAlert()" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    <strong>{{alert.title}}</strong><br>
    {{alert.message}}
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 0.5em;">
        <div class="event tav label">Gli eventi in violetto sono TAVOLE ROTONDE</div>
        <div class="event lab label">Gli eventi in giallo sono LABORATORI</div>
    </div>
</div>

<h4>
    Eventi
</h4>
<p>
    Filtri:
    <input type="text" ng-keyup="table.reload()" style="width: 200px;" ng-model="districtFilter" placeholder="Ricerca per sottocampo">
    <input type="text" ng-keyup="table.reload()" style="width: 240px;" ng-model="heartbeatFilter" placeholder="Ricerca per strada di coraggio">
    Tipologia:
    <select ng-change="table.reload()" ng-model="kindFilter">
        <option value="">TUTTI</option>
        <option value="TAV">TAVOLA ROTONDA</option>
        <option value="LAB">LABORATORIO</option>
    </select>
    <label><input type="checkbox" ng-change="table.reload()" ng-model="handicapFilters">Per disabili</label>
    <label><input type="checkbox" ng-change="table.reload()" ng-model="chiefonlyFilter">Per soli capi</label>
    <label><input type="checkbox" ng-change="table.reload()" ng-model="notChiefonlyFilter">Per soli ragazzi</label>
</p>
<table id="events" ng-table="table" class="table table-bordered" cellspacing="0" width="100%">
    <tbody>
        <tr class="event" ng-class="{lab: event.kind === 'LAB', tav: event.kind === 'TAV'}" ng-repeat="event in $data" data-eventid="{{event.num}}" x-lvl-draggable="true">
            <td data-title="'Nome'" sortable="'name'">{{event.name}}</td>
            <td data-title="'Data'" sortable="'heartbeat'">{{event.timeslot}}</td>
            <td data-title="'Iscrizioni capi'" sortable="'seats_n_chiefs'">{{event.seats_n_chiefs}}/{{event.max_chiefs_seats}}</td>
            <td data-title="'Iscrizioni ragazzi'" sortable="'seats_n_boys'">{{event.seats_n_boys}}/{{event.max_boys_seats}}</td>
            <td data-title="'Sottocampo'" sortable="'district'" filter="{ 'district': 'text' }">{{event.district}}</td>
            <td data-title="'Strada di coraggio'" sortable="'heartbeat'">{{event.heartbeat}}</td>
            <td data-title="'Dettagli'" style="white-space: nowrap;">
                <span data-toggle="modal" data-target="#event-details" ng-click="selectEvent(event);
                        " class="btn btn-xs btn-default">Dettagli</span>
                <span class="label label-info" ng-show="event.state_handicap === 'ENABLED'" title="Evento accessibile anche per disabili">D</span>
                <span class="label label-info" ng-show="event.min_age > 1" title="Et&agrave; minima">{{event.min_age}}+</span>
                <span class="label label-info" ng-show="event.max_age < 99" title="Et&agrave; massima">{{event.max_age}}-</span>
                <span class="label label-info" ng-show="event.state_chief === 'RESERVED'" title="Evento per soli capi">C</span>
                <span class="label label-info" ng-show="event.state_chief === 'DISABLED'" title="Evento per soli ragazzi">&#571;</span>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="event-details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    {{selectedEvent.name}}
                </h4>
            </div>


            <div class="modal-body">
                <div class="well">
                    <p>
                        <label>Tipologia</label>
                        {{selectedEvent.kind === 'TAV' ? 'TAVOLA ROTONDA' : 'LABORATORIO'}}
                        <!--
                        <span ng-hide="edit">{{selectedEvent.kind === 'TAV' ? 'TAVOLA ROTONDA' : 'LABORATORIO'}}</span>
                        <select ng-model="selectedEvent.kind" ng-show="edit">
                            <option value="TAV">TAVOLA ROTONDA</option>
                            <option value="LAB">LABORATORIO</option>
                        </select>
                        -->
                    </p>
                    <p>
                        <label>Turno</label>
                        {{selectedEvent.timeslot}}
                    </p>
                    <p>
                        <label>Nome</label>
                        <span ng-hide="edit">{{selectedEvent.name}}</span>
                        <input ng-show="edit" ng-model="selectedEvent.name" />
                    </p>
                    <p>
                        <label>Strada di coraggio</label>
                        <span ng-hide="edit">{{selectedEvent.heartbeat}}</span>
                        <input ng-show="edit" ng-model="selectedEvent.heartbeat" />
                    </p>
                    <p>
                        <label>Sottocampo</label>
                        {{selectedEvent.district}}
                    </p>
                    <p>
                        <label>Descrizione</label>
                        <span ng-hide="edit">{{selectedEvent.description}}</span>
                        <input ng-show="edit" ng-model="selectedEvent.description" />
                    </p>
                    <p>
                    <label>Iscrizioni capi</label>
                        {{selectedEvent.seats_n_chiefs}}/
                        <span ng-hide="edit">{{selectedEvent.max_chiefs_seats}}</span>
                        <input ng-show="edit" type="number" ng-model="selectedEvent.max_chiefs_seats" min="{{selectedEvent.seats_n_chiefs}}" />
                    </p>
                    <p>
                        <label>Iscrizioni ragazzi</label>
                        {{selectedEvent.seats_n_boys}}/
                        <span ng-hide="edit">{{selectedEvent.max_boys_seats}}</span>
                        <input ng-show="edit" type="number" ng-model="selectedEvent.max_boys_seats" min="{{selectedEvent.seats_n_boys}}" />
                    </p>
                    <p>
                        <label>Totale iscritti</label>
                        {{selectedEvent.seats_n_boys + selectedEvent.seats_n_chiefs}}/
                        {{selectedEvent.max_boys_seats + selectedEvent.max_chiefs_seats}}
                        (disponibili 
                        {{selectedEvent.max_boys_seats + selectedEvent.max_chiefs_seats - selectedEvent.seats_n_boys - selectedEvent.seats_n_chiefs }})
                    </p>
                    <p>
                        <label>Aperto ai capi</label>
                        <span class="label label-success" ng-show="selectedEvent.state_chief === 'RESERVED'">RISERVATO</span>
                        <span class="label label-success" ng-show="selectedEvent.state_chief === 'ENABLED'">S&igrave;</span>
                        <span class="label label-danger" ng-show="selectedEvent.state_chief === 'DISABLED'">No</span>
                    </p>
                    <p>
                        <label>Aperto ai ragazzi</label>
                        <span class="label label-success" ng-show="selectedEvent.state_chief === 'DISABLED'">RISERVATO</span>
                        <span class="label label-success" ng-show="selectedEvent.state_chief === 'ENABLED'">S&igrave;</span>
                        <span class="label label-danger" ng-show="selectedEvent.state_chief === 'RESERVED'">No</span>
                    </p>
                    <p>
                        <label>Accessibilit&agrave; per diversamente abili</label>
                        <span class="label label-danger" ng-show="selectedEvent.state_handicap === 'DISABLED'">No</span>
                        <span class="label label-success" ng-show="selectedEvent.state_handicap === 'ENABLED'">S&igrave;</span>
                    </p>
                    <p>
                    <label>Et&agrave; minima</label>
                        <span ng-hide="edit">{{selectedEvent.min_age}}</span>
                        <input ng-show="edit" type="number" ng-model="selectedEvent.min_age" min="1" max="{{selectedEvent.max_age}}" />
                    </p>
                    <label>Et&agrave; massima</label>
                        <span ng-hide="edit">{{selectedEvent.max_age}}</span>
                        <input ng-show="edit" type="number" ng-model="selectedEvent.max_age" min="{{selectedEvent.min_age}}" max="99" />
                    </p>
                    <p>
                        <label>Codice dell'evento</label>{{selectedEvent.code}}
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="btn btn-default btn-block" ng-click="edit = ! edit">Edit</button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>

