{% extends "admin/change_form.html" %}
{% load i18n %}


{% block extrahead %}
    {{ block.super }}
    <style type="text/css">
        .help-inline {
            font-weight : small;
            color : red;
        };
        .field-soddisfacimento {
            color : black;
            font-style : bold;
            font-weight : large;
        }
    </style>
{% endblock %}

{% block submit_buttons_bottom %}
    {% if not user.is_readonly %}
        {{ block.super }}
        {% if change %}
            <button id="_compute_soddisfacimento" name="_compute_soddisfacimento" href="do-compute-soddisfacimento/" class="btn btn-high btn-success bureau-buttons" type="submit">CALCOLA SODDISFACIMENTO</button>

        <script type="text/javascript">
            $('#_compute_soddisfacimento').click(function (e) {
                var el = $(e.target);
                var rover_events_data = {};
                $('form#rover_form :input').each(function (i) {
                    var val = $(this).val();
                    if (val == "on") 
                        val = true;
                    if (val == "off")
                        val = false;
                    rover_events_data[$(this).prop('name')] = val;
                });
                $.post(el.attr('href'), JSON.stringify(rover_events_data))
                    .done(function(data) {
                        if (parseInt(data, 10))
                            $('.field-soddisfacimento .controls > .readonly').text(data);
                            alert("Il grado di soddisfacimento del ragazzo è " + data + "!")
                        else {
                            alert("Se leggi bene questo dato capirai dove sono gli errori" + JSON.stringify(data)));
                        }
                    })
                    .fail(function(data) {
                        alert("E' avvenuto l'errore "+JSON.stringify(data)+" contatta lo staff IT");
                    });
            
                e.stopPropagation();
                return false;
            });
        </script>
        {% endif %}
    {% endif %}
{% endblock %}

{% block object-tools %}
{% comment %}
  {% if not is_popup and change or request.GET.vclan_id %}
    <h4 class="italic-title">{% trans 'tools'|capfirst %}</h4>
    <ul class="box menu-box">
    {% block object-tools-items %}

    {% if change and original.vclan %}
        <li><a href="{% url 'admin:edda_vclans_change' original.vclan.pk %}" class="actionlink" ><i
            class="icon-time icon-alpha75"></i>VAI AL SUO CLAN</a>
        </li>
    {% elif request.GET.vclan_id %}
        <li><a href="{% url 'admin:edda_vclans_change' request.GET.vclan_id %}" class="actionlink" ><i
            class="icon-time icon-alpha75"></i>VAI AL SUO CLAN</a>
        </li>
    {% endif %}
    {% comment %}
    <li><a href="do-set-retired-quartiere/" class="actionlink" dove="QUARTIERE"><i
        class="icon-time icon-alpha75"></i>REGISTRA CHE QUESTA PERSONA NON VIENE</a>
    </li>
    <script type="text/javascript">
        $('.actionlink').click(function (e) {
            var el = e.target;
            $.post(el.href, { 
                success : function(response) {
                    alert('Operazione "' + el.innerHTML + '" eseguita con successo!');
                }
            });
        
            e.stopPropagation();
            return false;
        });
    </script>
    {% endcommento %}
    {% endblock %}
   {% endif %}
{% endcomment %}
{% endblock %}

{% block sidebar_content %}
{% if request.GET.vclan_id %}
<script type="text/javascript">
    $('#id_vclan').val({{ request.GET.vclan_id }});
    $('#id_scout').prop('checked', true);
</script>
{% endif %}
{% endblock %}
