{% extends "admin/base.html" %}
{% load admin_static %}


        {% block footer_links %}{% endblock %}
        {% block copyright %} {% endblock %}

{% block footer_branding %}
{{ block.super }}
<div class="modal fade" id="rn2014_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h4 class="modal-title">Conferma salvataggio e buona caccia!</h4>
      </div>
      <div class="modal-body">
        <p>Se salvi, sappi solo che stai modificando in modo permanente le informazioni. Buona caccia!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
        <button id="rover-form-submit" type="button" class="btn btn-primary">Salva le modifiche</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    $(function(){
       $('#rover-form-submit').on('click', function(e){
            e.preventDefault();
            $.ajax({
                url: window.location.href,
                type: "POST",
                data: $("#content-main > form").serialize(),
                success: function(data){
                    window.location = '/admin/base/rover/';
                }
            });
       }); 
    });
</script>
{% endblock %}
