<div class="alert alert-danger" ng-show="alert">
    <button class="close" ng-click="closeAlert()" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    <strong>{{alert.title}}</strong><br>
    {{alert.message}}
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 0.5em;">
        <div class="event tav label">Gli eventi in violetto sono TAVOLE ROTONDE</div>
        <div class="event lab label">Gli eventi in giallo sono LABORATORI</div>
    </div>
</div>

<h4>
    Eventi
</h4>
<p>
    <span data-toggle="modal" data-target="#event-details" ng-click="createNew();" class="btn btn-xs btn-default">Crea nuovo evento</span><br/>
</p>
<p>
    Filtri:
    <input type="text" ng-keyup="table.reload()" style="width: 200px;" ng-model="districtFilter" placeholder="Ricerca per sottocampo">
    <input type="text" ng-keyup="table.reload()" style="width: 240px;" ng-model="heartbeatFilter" placeholder="Ricerca per strada di coraggio">
    Tipologia:
    <select ng-change="table.reload()" ng-model="kindFilter">
        <option value="">TUTTI</option>
        <option value="TAV">TAVOLA ROTONDA</option>
        <option value="LAB">LABORATORIO</option>
    </select>
    <label><input type="checkbox" ng-change="table.reload()" ng-model="handicapFilters">Per disabili</label>
    <label><input type="checkbox" ng-change="table.reload()" ng-model="chiefonlyFilter">Per soli capi</label>
    <label><input type="checkbox" ng-change="table.reload()" ng-model="notChiefonlyFilter">Per soli ragazzi</label>
</p>
<table id="events" ng-table="table" class="table table-bordered" cellspacing="0" width="100%">
    <tbody>
        <tr class="event" ng-class="{lab: event.kind === 'LAB', tav: event.kind === 'TAV'}" ng-repeat="event in $data" data-eventid="{{event.num}}" x-lvl-draggable="true">
            <td data-title="'Cod. Unico'" sortable="'uniq_code'">{{event.code}}</td>
            <td data-title="'Cod. Stampa'" sortable="'print_code'">{{event.print_code}}</td>
            <td data-title="'Nome'" sortable="'name'">{{event.name}}</td>
            <td data-title="'Data'" sortable="'timeslot'">{{event.timeslot}}</td>
            <td data-title="'Iscrizioni capi'" sortable="'seats_n_chiefs'">{{event.seats_n_chiefs}}/{{event.max_chiefs_seats}}</td>
            <td data-title="'Iscrizioni ragazzi'" sortable="'seats_n_boys'">{{event.seats_n_boys}}/{{event.max_boys_seats}}</td>
            <td data-title="'Sottocampo'" sortable="'district'" filter="{ 'district': 'text' }">{{event.district}}</td>
            <td data-title="'Strada di coraggio'" sortable="'topic'">{{event.topic}}</td>
            <td data-title="'Dettagli'" style="white-space: nowrap;">
                <span data-toggle="modal" data-target="#event-details" ng-click="selectEvent(event);
                        " class="btn btn-xs btn-default">Dettagli</span>
                <span class="label label-info" ng-show="event.state_handicap === 'ENABLED'" title="Evento accessibile anche per disabili">D</span>
                <span class="label label-info" ng-show="event.min_age > 1" title="Et&agrave; minima">{{event.min_age}}+</span>
                <span class="label label-info" ng-show="event.max_age < 99" title="Et&agrave; massima">{{event.max_age}}-</span>
                <span class="label label-info" ng-show="event.state_chief === 'RESERVED'" title="Evento per soli capi">C</span>
                <span class="label label-info" ng-show="event.state_chief === 'DISABLED'" title="Evento per soli ragazzi">&#571;</span>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="event-details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    {{selectedEvent.name || 'Nuovo evento'}}
                </h4>
            </div>


            <div class="modal-body">
                <div class="well" ng-hide="editCapiSpalla">
                     <p>
                        <label>Codice Stampa</label>
                        <span ng-hide="edit">{{selectedEvent.print_code}}</span>
                        <input ng-show="edit" ng-model="selectedEvent.print_code" />
                    </p>
                    <p>
                        <label>Tipologia</label>
                        <span ng-hide="edit">{{selectedEvent.kind === 'TAV' ? 'TAVOLA ROTONDA' : 'LABORATORIO'}}</span>
                        <select ng-model="selectedEvent.kind" ng-show="edit">
                            <option value="TAV">TAVOLA ROTONDA</option>
                            <option value="LAB">LABORATORIO</option>
                        </select>
                    </p>
                    <p>
                        <label>Stato</label>
                        <span ng-hide="edit">{{selectedEvent.state_activation === 'CREATING' ? 'In creazione' : selectedEvent.state_activation === 'ACTIVE' ? 'Attivo' : 'Dismesso'}}</span>
                        <select ng-model="selectedEvent.state_activation" ng-show="edit">
                            <option value="CREATING">In creazione</option>
                            <option value="ACTIVE">Attivo</option>
                            <option value="DISMISSED">Dismesso</option>
                        </select>
                    </p>
                    <p>
                        <label>Iscrizioni</label>
                        <span ng-hide="edit">{{selectedEvent.state_subscription === 'OPEN' ? 'Aperte' : 'Chiuse'}}</span>
                        <select ng-model="selectedEvent.state_subscription" ng-show="edit">
                            <option value="OPEN">Aperte</option>
                            <option value="CLOSED">Chiuse</option>
                        </select>
                    </p>
                    <p>
                        <label>Turno</label>
                        <span ng-hide="edit">{{selectedEvent.timeslot}}</span>
                        <select ng-model="selectedEvent.timeslot" ng-show="edit" ng-options="item for item in timeslots">
                        </select>
                    </p>
                    <p>
                        <label>Nome</label>
                        <span ng-hide="edit">{{selectedEvent.name}}</span>
                        <input ng-show="edit" ng-model="selectedEvent.name" />
                    </p>
                    <p>
                        <label>Strada di coraggio</label>
                        <span ng-hide="edit">{{selectedEvent.topic}}</span>
                        <select ng-model="selectedEvent.topic" ng-show="edit" ng-options="item for item in topics">
                <div class="well" ng-hide="editCapiSpalla">
                    <p>
                        <label>Tipologia</label>
                        <span ng-hide="edit">{{selectedEvent.kind === 'TAV' ? 'TAVOLA ROTONDA' : 'LABORATORIO'}}</span>
                        </select>
                    </p>
                    <p>
                        <label>Sottocampo</label>
                        <span ng-hide="edit">{{selectedEvent.district}}</span>
                        <select ng-model="selectedEvent.district" ng-show="edit" ng-options="item for item in districts">
                        </select>
                    </p>
                    <p>
                        <label>Descrizione</label>
                        <span ng-hide="edit">{{selectedEvent.description}}</span>
                        <input ng-show="edit" ng-model="selectedEvent.description" />
                    </p>
                    <p>
                    <label>Iscrizioni capi</label>
                        {{selectedEvent.seats_n_chiefs}}/
                        <span ng-hide="edit">{{selectedEvent.max_chiefs_seats}}</span>
                        <input ng-show="edit" type="number" ng-model="selectedEvent.max_chiefs_seats" min="{{selectedEvent.seats_n_chiefs}}" />
                    </p>
                    <p>
                        <label>Iscrizioni ragazzi</label>
                        {{selectedEvent.seats_n_boys}}/
                        <span ng-hide="edit">{{selectedEvent.max_boys_seats}}</span>
                        <input ng-show="edit" type="number" ng-model="selectedEvent.max_boys_seats" min="{{selectedEvent.seats_n_boys}}" />
                    </p>
                    <p>
                        <label>Totale iscritti</label>
                        {{selectedEvent.seats_n_boys + selectedEvent.seats_n_chiefs}}/
                        {{selectedEvent.max_boys_seats + selectedEvent.max_chiefs_seats}}
                    </p>
                    <p ng-show="edit">
                        <label>Vincoli</label>
                        <select ng-model="selectedEvent.state_chief" ng-show="edit">
                            <option value="RESERVED">Aperto solo ai capi</option>
                            <option value="ENABLED">Aperto a tutti</option>
                            <option value="DISABLED">Aperto solo ai ragazzi</option>
                        </select>
                    </p>
                    <p>
                        <label>Aperto ai capi</label>
                        <span class="label label-success" ng-show="selectedEvent.state_chief === 'RESERVED'">RISERVATO</span>
                        <span class="label label-success" ng-show="selectedEvent.state_chief === 'ENABLED'">S&igrave;</span>
                        <span class="label label-danger" ng-show="selectedEvent.state_chief === 'DISABLED'">No</span>
                    </p>
                    <p>
                        <label>Aperto ai ragazzi</label>
                        <span class="label label-success" ng-show="selectedEvent.state_chief === 'DISABLED'">RISERVATO</span>
                        <span class="label label-success" ng-show="selectedEvent.state_chief === 'ENABLED'">S&igrave;</span>
                        <span class="label label-danger" ng-show="selectedEvent.state_chief === 'RESERVED'">No</span>
                    </p>
                    <p>
                        <label>Accessibilit&agrave; per diversamente abili</label>
                        <span class="label label-danger" ng-show="!edit && selectedEvent.state_handicap === 'DISABLED'">No</span>
                        <span class="label label-success" ng-show="!edit && selectedEvent.state_handicap === 'ENABLED'">S&igrave;</span>
                        <select ng-model="selectedEvent.state_handicap" ng-show="edit">
                            <option value="ENABLED">S&igrave;</option>
                            <option value="DISABLED">No</option>
                        </select>
                    </p>
                    <p>
                    <label>Et&agrave; minima</label>
                        <span ng-hide="edit">{{selectedEvent.min_age}}</span>
                        <input ng-show="edit" type="number" ng-model="selectedEvent.min_age" min="1" max="{{selectedEvent.max_age}}" />
                    </p>
                    <!-- <label>Et&#38;agrave; massima</label> -->
                    <!--     <span ng&#45;hide="edit">{{selectedEvent.max_age}}</span> -->
                    <!--     <input ng&#45;show="edit" type="number" ng&#45;model="selectedEvent.max_age" min="{{selectedEvent.min_age}}" max="99" /> -->
                    <!-- </p> -->
                    <p ng-hide="edit">
                        <label>Codice dell'evento</label>{{selectedEvent.code}}
                    </p>
                </div>
                <div class="well" ng-show="editCapiSpalla">
                    <p>
                    <h1>Capi spalla</h1>

    <div class="row">
            <div class="col-sm-5">
              <div class="list-group" id="list1" x-lvl-drop-target="true" x-on-drop="drop(dragEl, dropEl, removeChief)">
                <a href="javascript:;" class="list-group-item active">Disponibili</a>
                <span ng-repeat="user in listA">
                    <a href="javascript:;" data-id="{{user.code}}" x-lvl-draggable="true" class="list-group-item">{{user.name}} {{user.surname}}<br/><i>{{user.scout_unit}}</i>
                    <input id="{{user.code}}" ng-click="selectedA.push(user.code)" name="selectedA[]" value="{{user.code}}" ng-checked="selectedA.indexOf(user.code) > -1" type="checkbox" class="pull-right">
                  </a>
                </span>
              </div>
            </div><!--/col-4-->
            <div class="col-md-2 v-center text-center">
              <div class="btn-group">
                <button title="Aggiungi" class="btn btn-default" ng-click="addChief()" id="btnB"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button title="Rimuovi" class="btn btn-default" ng-click="removeChief()" id="btnA"><i class="glyphicon glyphicon-chevron-left"></i></button>
              </div>
            </div><!--/col-2-->
            <div class="col-sm-5">
              <div class="list-group" id="list2" x-lvl-drop-target="true" x-on-drop="drop(dragEl, dropEl, addChief)">
                <a href="javascript:;" class="list-group-item active">Selezionati
                  <input title="Toggle all" ng-click="toggleB()" ng-model="toggle" value="{{toggle}}" type="checkbox" class="pull-right">
                </a>
                <span ng-repeat="user in listB">
                    <a href="javascript:;" data-id="{{user.code}}" class="list-group-item" x-lvl-draggable="true">{{user.name}} {{user.surname}}<br/><i>{{user.scout_unit}}</i>
                    <input id="{{user.code}}" ng-click="selectedB.push(user.code)" name="selectedB[]" value="{{user.code}}" ng-checked="selectedB.indexOf(user.code) > -1" type="checkbox" class="pull-right">
                  </a>
                </span>
              </div>
            </div><!--/col-4-->
      </div><!--/row-->

                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <button class="btn btn-default btn-block" ng-click="editForm()" ng-show="!edit && !isNew && !editCapiSpalla">Modifica</button>
                    <button class="btn btn-default btn-block" ng-click="cancelEdit()" ng-show="edit && !isNew && !editCapiSpalla">Annulla</button>
                    <button ng-show="isNew" type="button" class="btn btn-default btn-block" data-dismiss="modal && !editCapiSpalla">Annulla</button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <button ng-hide="edit && !editCapiSpalla" type="button" class="btn btn-default btn-block" data-dismiss="modal">Chiudi</button>
                    <button ng-show="edit && !editCapiSpalla" type="button" class="btn btn-default btn-block" data-dismiss="modal" ng-click="save();">Salva</button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <button class="btn btn-default btn-block" ng-click="capiSpalla()" ng-show="!edit && !isNew && !editCapiSpalla">Capi spalla</button>
                    <button class="btn btn-default btn-block" ng-click="closeCapiSpalla()" ng-show="!edit && !isNew && editCapiSpalla">Torna indietro</button>
                </div>
            </div>
        </div>
    </div>
</div>

